---
layout: default
---



<div class="home">
  <div class="section" id="container">
    <div id="left-column">
    These cryptocurrency institutions have suffered intrusions resulting in stolen financials, or shutdown of the product. Nearly all closed down afterward.
    <br />
    <br />
    Nearly every attack could have been prevented:

      <ul class="intro-ul">
        <li>Social Engineering / Credential Reuse</li>
        <li>Account Takeover of Cloud Hosting</li>
        <li>Application Vulnerability</li>
      </ul>


    Each root cause is below, with a link to more information in the breach.
    </div>

    <div id="right-column">
      <img id="logo" src="logo.png" />
    </div>
  </div>

  <div class="section">
    <h1 class="section-header">Root Cause Estimates</h1>
    The data below is roughly gleaned from publicly available data about <b>44</b> incidents.

    {% include chart.html %}
  </div>

  <div class= "section">
    <ul class="post-list">
      <h1 class="section-header">Incident Briefs</h1>

      {% for post in site.posts %}
        <li>
          <h2 class="post-link">
            <a  href="{{ post.link }}">{{ post.title }}</a>
          </h2>

            {{post.content}}

          <div>
          </div>
        </li>
      {% endfor %}
    </ul>
    </div>

    <h1>Update This</h1>
    Submit a pull request at the GitHub link below if a similar breach has occurred.

</div>
