<canvas id="myChart" width="400" height="200"></canvas>
<script>

{% assign catColors = '' | split:',' %}
{% assign catCounters = '' | split:',' %}
{% assign allCats = '' | split:',' %}
{% for item in site.posts %}
  {% for category in item.categories %}
    {% assign allCats = allCats | push: category %}
  {% endfor %}
{% endfor %}

{% assign allCats = allCats | sort | uniq  %}

{% for category in allCats %}
  {% assign counter = 0 %}
  {% for item in site.posts %}
    {% if item.categories contains category %}
      {% assign counter=counter | plus:1 %}
    {% endif %}
  {% endfor %}
  {% capture color %}rgba({{counter | times: 10}}, f7, 72, 0.2){% endcapture %}
  {% assign catColors = catColors | push: color %}
  {% assign catCounters = catCounters | push: counter %}
{% endfor %} 

var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ allCats | jsonify }},
        datasets: [{
            label: 'Reason for Breach',
            data: {{ catCounters | jsonify }},
            backgroundColor: {{ catColors | jsonify }},
            borderColor: {{ catColors | jsonify }},
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
