<canvas id="myChart" width="400" height="200"></canvas>
<script>

{% assign setColors = '' | split:',' %}
{% assign setBorders = '' | split:',' %}
{% assign catColors = '' | split:',' %}
{% assign catBorders = '' | split:',' %}
{% assign catCounters = '' | split:',' %}
{% assign allCats = '' | split:',' %}
{% assign humanCats = '' | split:',' %}
{% for item in site.posts %}
  {% for category in item.categories %}
    {% assign allCats = allCats | push: category %}
  {% endfor %}
{% endfor %}

{% assign allCats = allCats | sort | uniq  %}

{% comment %}
We are setting a static list of colors, and iterating through them, so the colors do not look
horrible. We can always add colors here to expand the palette as desired.
{% endcomment %}
{% assign setColors = setColors | push: 'rgba(255, 99, 132, 0.2)' %}
{% assign setColors = setColors | push: 'rgba(54, 162, 235, 0.2)' %}
{% assign setColors = setColors | push: 'rgba(255, 206, 86, 0.2)' %}
{% assign setColors = setColors | push: 'rgba(75, 192, 192, 0.2)' %}
{% assign setColors = setColors | push: 'rgba(153, 102, 255, 0.2)' %}
{% assign setColors = setColors | push: 'rgba(255, 159, 64, 0.2)' %}

{% assign setBorders = setBorders | push: 'rgba(255, 99, 132, 1)' %}
{% assign setBorders = setBorders | push: 'rgba(54, 162, 235, 1)' %}
{% assign setBorders = setBorders | push: 'rgba(255, 206, 86, 1)' %}
{% assign setBorders = setBorders | push: 'rgba(75, 192, 192, 1)' %}
{% assign setBorders = setBorders | push: 'rgba(153, 102, 255, 1)' %}
{% assign setBorders = setBorders | push: 'rgba(255, 159, 64, 1)' %}

{% assign colorMod = setColors | size %}

{{ assign index = 0 }}

{% for category in allCats %}
  {% assign counter = 0 %}
  {% assign humanCat = category | replace: "_", " " | capitalize %}
  {% assign humanCats = humanCats | push: humanCat %}
  {% for item in site.posts %}
    {% if item.categories contains category %}
      {% assign counter=counter | plus:1 %}
    {% endif %}
  {% endfor %}

  {% assign colorIndex = index | modulo: colorMod %}
  {% assign catColors = catColors | push: setColors[colorIndex] %}
  {% assign catBorders = catBorders | push: setBorders[colorIndex] %}
  {% assign catCounters = catCounters | push: counter %}
  {% assign index = index | plus:1 %}
{% endfor %} 

var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ humanCats | jsonify }},
        datasets: [{
            label: 'Number of Incidents',
            data: {{ catCounters | jsonify }},
            backgroundColor: {{ catColors | jsonify }},
            borderColor: {{ catBorders | jsonify }},
            borderWidth: 1
        }]
    },
    options: {
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
